---
layout: home
search_exclude: true
image: images/thomas-landscape.jpg
---

Here are a few highlights of things I've done:

## Mathematical Biology and AI in Medicine

- Earned a PhD in mathematics at Duke University in 2010, with a thesis was on Time-Scaled Stochastic Input to Biochemical Reaction Networks
- During graduate school, did work on mathematical biology as part of a Howard Hughes Medical Institute Fellowship
- [A Mathematical Model of Glutathione Metabolism](https://tbiomed.biomedcentral.com/articles/10.1186/1742-4682-5-8), published in the Journal of Theoretical Biology and Medical Modeling
- invited [keynote speaker at Stanford’s Artificial Intelligence in Medicine symposium](https://youtu.be/vVRWeGlMkGk)
- [Medicine's Machine Learning Problem](https://bostonreview.net/science-nature/rachel-thomas-medicines-machine-learning-problem), published in Boston Review
- invited panelist at a University of Wollongong webinar on bias in medicine

{% include image-r w="300" url="thomas-2020-small.jpg" caption="Photo by Gabriela Hasbun" %}

## Data Ethics

- Currently Professor of Practice at [Queensland University of Technology Centre for Data Science](https://research.qut.edu.au/qutcds/)
- Founding director of the [Center for Applied Data Ethics (CADE)](https://www.usfca.edu/data-institute/initiatives/center-applied-data-ethics) 
at the University of San Francisco

- [Reliance on Metrics is a Fundamental Challenge for AI](https://www.cell.com/patterns/fulltext/S2666-3899(22)00056-3), published in Cell.com/Patterns. Optimizing a given metric is a central aspect of most current AI approaches, yet overemphasizing metrics leads to manipulation, gaming, and a myopic short-term focus.
- Created and taught [data ethics course](https://ethics.fast.ai/) on bias, surveillance, disinformation, practical tools, algorithmic colonialism, and more.
- Wrote ethics chapter of best-selling book, [Deep Learning for Coders with Fastai and PyTorch: AI Applications Without a PhD](https://www.amazon.com/Deep-Learning-Coders-fastai-PyTorch/dp/1492045527)
- Essay "Algorithms are Used Differently than Human Decision Makers" included in the book [97 Things About Ethics Everyone in Data Science Should Know](https://www.oreilly.com/library/view/97-things-about/9781492072652/)
- [Getting Specific About Algorithmic Bias](https://www.youtube.com/watch?v=S-6YGPrmtYc&list=PLtmWHNX-gukLQlMvtRJ19s7-8MrnRV6h6&index=5), featured talk at PyBay 2019
- Organized [CADE Tech Policy Workshop](https://usfblogs.usfca.edu/dataethics/2020/03/31/6-important-videos-about-tech-ethics-policy-and-government/) with policy makers, academics, activists, and those who work in industry, [all videos are available online](https://www.youtube.com/playlist?list=PLtmWHNX-gukK0HxaoW7a8ePhrd13KSQc4)
- [The Far-Reaching Impact of Dr. Timnit Gebru](https://thegradient.pub/the-far-reaching-impacts-of-timnit-gebru/), published in The Gradient, was their 2nd most read article of 2020 and one of their Top 10 most read articles of all time.

## Machine Learning and Data Science

- Co-founder of [course.fast.ai](https://course.fast.ai/) (2016-present), the most widely-used deep learning course in the world. 
The Economist featured the course in [New schemes teach the masses to build AI – Treating it like a craft is paying dividends](https://www.economist.com/business/2018/10/27/new-schemes-teach-the-masses-to-build-ai)
- Designed and taught graduate level courses on [Natural Language Processing](https://www.fast.ai/2019/07/08/fastai-nlp/) and 
[Computational Linear Algebra](https://www.fast.ai/2017/07/17/num-lin-alg/) in the USF Masters of Data Science program
- [The New Era in NLP](https://www.youtube.com/watch?v=KChtdexd5Jo&list=PLtmWHNX-gukLQlMvtRJ19s7-8MrnRV6h6&index=4), Keynote at SciPy (Scientific Python) Conference 2019
- [Lessons Learned from Helping 200,000 non-ML experts use ML](https://slideslive.com/38917533/lessons-learned-from-helping-200000-nonml-experts-use-ml), Keynote at ICML AutoML workshop, based on my popular series of [AutoML posts](https://www.fast.ai/2018/07/23/auto-ml-3/)
- [Beginner friendly workshop on Word Embeddings (such as Word2Vec)](https://www.youtube.com/watch?v=25nC0n9ERq4&list=PLtmWHNX-gukLQlMvtRJ19s7-8MrnRV6h6&index=13), 2017
- Selected by Forbes as one of [20 Incredible Women in AI](https://www.forbes.com/sites/mariyayao/2017/05/18/meet-20-incredible-women-advancing-a-i-research/?sh=3662785a26f9), 2017
- Featured in the book [Women Tech Founders on the Rise](https://www.amazon.com/WTF-Happening-Women-Tech-Founders-ebook/dp/B07Q5B53N8)
- Early data scientist and software engineer at Uber (2013-2014)
- Earned PhD in Mathematics from Duke University

## Diversity and Inclusion in Tech

- [Artificial Intelligence needs all of us](https://www.ted.com/talks/rachel_thomas_artificial_intelligence_needs_all_of_us?language=en), TEDx talk I gave to an audience of 1,000 people, promoted to the official TED website
- [If you think women in tech is just a pipeline problem, you haven’t been paying attention](https://medium.com/tech-diversity-files/if-you-think-women-in-tech-is-just-a-pipeline-problem-you-haven-t-been-paying-attention-cb7a2073b996), 
my viral blog post covering the research on why (and how many) women leave the tech industry
- [The Real Reason Women Quit Tech (and How to Address It)](https://medium.com/tech-diversity-files/the-real-reason-women-quit-tech-and-how-to-address-it-6dfb606929fd)
- Coordinated diversity scholarships and international fellowships for fast.ai. Increasing diversity and breaking down cliquishness of AI have been core to our fast.ai mission from the start

<br>

{% include image w="900" url="prof-collage.jpg" caption="A few of the events I've spoken at" %}
